 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
 }

 body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d8d8de;
 }

 .container{
    position: relative;
    max-width: 300px;
    height: 70%;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #1c1b1b;
    /* fff */
 }
 h3{
    color: #2f9fff;
    font-size: 20px;
    margin: 8px;
 }
 .screen{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    pointer-events: none;
    background: #1c1b1b;
 }

 .buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
 }

 .buttons button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #eee;
    background-color: #5d5c5c;
 }

 .buttons button:active {
    transform: scale(0.99); 
 }

 .operator{
    color: #eee;
    background-color: #2f9fff !important;
 }